<table class='table'>
    <thead>
        <tr>
            <th style="width: 20%;" scope="col">Projects:</th>
            <th *ngFor="let day of tableHeaders">{{day}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let element of projectList">
            <td>{{element.name}}</td>
            <td *ngFor="let hours of element.hoursPerday" class="td">
                {{hours}}<button class="button-green" >Add time entry</button>
            </td>            
        </tr>
    </tbody>
</table>